<div class="container">
  
<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label :full_name, style: "display: block" %></strong>
    <%= form.text_field :full_name, class:"form-control" %>
  </div>

  <div class="field">
    <strong><%= form.label :job_category, style: "display: block" %></strong>
    <%= form.select :job_category, Employee::JOB_CATEGORIES, { prompt: "Select Category" }, { class: "form-control" } %>
  </div>

  <div>
    <strong><%= form.label :daily_pay, style: "display: block" %></strong>
    <%= form.text_field :daily_pay, class:"form-control" %>
  </div>

  <div>
    <strong><%= form.label :phone, style: "display: block" %></strong>
    <%= form.text_field :phone, class:"form-control" %>
  </div>

  <div>
    <strong><%= form.label :national_id, style: "display: block" %></strong>
    <%= form.text_field :national_id, class:"form-control" %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.checkbox :status %>
    <%= form.label :status, "Active?" %>
  </div>
  <br/>

  <div>
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>
</div>
