<% content_for :title, "Edit #{@user.username}'s Profile" %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 95vh;">
  <div class="col-md-5">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "form-control", placeholder: "Email" %>
      </div>

      <div class="mb-3">
        <%= f.text_field :username,
              class: "form-control", placeholder: "Username" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-info">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="mb-3">
        <small class="text-muted">(leave blank if you don't want to change it)</small>
        <%= f.password_field :password, autocomplete: "new-password",
              class: "form-control", placeholder: "New Password" %>

        <% if @minimum_password_length %>
          <small class="text-muted d-block mt-1">
            <%= @minimum_password_length %> characters minimum
          </small>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
              class: "form-control", placeholder: "Confirm New Password" %>
      </div>

      <div class="mb-3">
        <small class="text-muted">(enter current password to confirm changes)</small>
        <%= f.password_field :current_password, autocomplete: "current-password",
              class: "form-control", placeholder: "Current Password" %>
      </div>

      <div class="mb-3">
        <%= f.label :image, class: "form-label fw-bold" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="d-grid mb-2">
        <%= f.submit "Update", class: "btn btn-success btn-sm" %>
      </div>

      <div class="d-grid">
        <%= link_to "Back", :back, class: "btn btn-primary btn-sm" %>
      </div>

    <% end %>

    <!-- Cancel account -->
    <div class="card border-danger mt-4 text-center">
      <div class="card-header text-danger fw-bold">
        Unhappy?
      </div>
      <div class="card-body">
        <%= button_to "Cancel my account",
              registration_path(resource_name),
              data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
              method: :delete,
              class: "btn btn-danger btn-sm" %>
      </div>
    </div>

  </div>
</div>