<% content_for :title, "Forgot Password" %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 40vh;">
  <div class="col-md-4">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="d-grid">
        <%= f.submit "Send reset instructions", class: 'btn btn-success btn-sm' %>
      </div>

    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>