<%= form_with(model: payroll) do |form| %>
  <% if payroll.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
        <% payroll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.label :period, style: "display: block" %>
    <%= form.text_field :period %>
  </div>

  <div>
    <%= form.label :worked_days, style: "display: block" %>
    <%= form.number_field :worked_days %>
  </div>

  <div>
    <%= form.label :total_pay, style: "display: block" %>
    <%= form.text_field :total_pay %>
  </div>

  <div>
    <%= form.label :advance, style: "display: block" %>
    <%= form.text_field :advance %>
  </div>

  <div>
    <%= form.label :payable, style: "display: block" %>
    <%= form.text_field :payable %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
