<div id="<%= dom_id payroll %>">
  <p>
    <strong>Employee:</strong>
    <%= payroll.employee_id %>
  </p>

  <p>
    <strong>Period:</strong>
    <%= payroll.period %>
  </p>

  <p>
    <strong>Worked days:</strong>
    <%= payroll.worked_days %>
  </p>

  <p>
    <strong>Total pay:</strong>
    <%= payroll.total_pay %>
  </p>

  <p>
    <strong>Advance:</strong>
    <%= payroll.advance %>
  </p>

  <p>
    <strong>Payable:</strong>
    <%= payroll.payable %>
  </p>

</div>
