
<div class="container mt-4">
  
<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @advances.each do |att| %>
      <tr>
        <td><%= att.id %></td>
        <td><%= att.employee.full_name %></td>
        <td><%= att.amount %></td>
        <td><%= att.date %></td>
        <td><%= link_to "show", advance_path(att), class:"btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
