<%= form_with(model: advance) do |form| %>
  <% if advance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(advance.errors.count, "error") %> prohibited this advance from being saved:</h2>

      <ul>
        <% advance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label :employee_id, style: "display: block" %></strong>
    <%= form.collection_select :employee_id, Employee.all, :id, :full_name, {prompt:"-Select-"}, class:"form-control" %>
  </div>

  <div>
    <strong><%= form.label :amount, style: "display: block" %></strong>
    <%= form.text_field :amount, class:"form-control" %>
  </div>

  <div class="col-md-2">
    <strong><%= form.label :date, style: "display: block" %></strong>
    <%= form.date_field :date, class:"form-control" %>
  </div>
  <br/>

  <div>
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>
