<% if user_signed_in? %>
<nav id="main-navbar" data-turbo-permanent
     class="navbar navbar-expand-lg navbar-light fixed-top d-print-none"
     style="background-color: rgb(166, 197, 227);">
  <div class="container-fluid">

    <!-- Brand -->
    <%= link_to 'Novel Sacco', root_path, class: 'navbar-brand fw-bold', style: 'color: #006633;' %>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Members -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="membersDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Members
          </a>
          <ul class="dropdown-menu" aria-labelledby="membersDropdown">
            <li><%= link_to "New Member", new_member_path, class: "dropdown-item" %></li>
            <li><%= link_to "Members", members_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <!-- Savings -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="savingsDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Savings
          </a>
          <ul class="dropdown-menu" aria-labelledby="savingsDropdown">
            <li><%= link_to "New Saving", new_saving_path, class: "dropdown-item" %></li>
            <li><%= link_to "Sacco Account", savings_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <!-- Loans -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="loansDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Loans
          </a>
          <ul class="dropdown-menu" aria-labelledby="loansDropdown">
            <li><%= link_to "New Loan", new_loan_path, class: "dropdown-item" %></li>
            <li><%= link_to "Loans", loans_path, class: "dropdown-item" %></li>
          </ul>
        </li>

         <!-- Loan Repayments -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="loansDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Loan Repayments
          </a>
          <ul class="dropdown-menu" aria-labelledby="loansDropdown">
            <li><%= link_to "New Loan Repayment", new_loan_repayment_path, class: "dropdown-item" %></li>
            <li><%= link_to "Loan Repayments", loan_repayments_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <!-- Advances -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="advancesDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Advances
          </a>
          <ul class="dropdown-menu" aria-labelledby="advancesDropdown">
            <li><%= link_to "Advances", advances_path, class: "dropdown-item" %></li>
            <li><%= link_to "Create Advance", new_advance_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <!-- Employees -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="employeesDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employees
          </a>
          <ul class="dropdown-menu" aria-labelledby="employeesDropdown">
            <li><%= link_to "Employees", employees_path, class: "dropdown-item" %></li>
            <li><%= link_to "Create New Employee", new_employee_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <% if current_user.admin? %>
          <!-- User Management -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="usersDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="usersDropdown">
              <li><%= link_to "Show Users", users_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <!-- Right side -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
             id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.image.attached? %>
              <%= image_tag url_for(current_user.image), class: "rounded-circle me-2", size: "40x40" %>
            <% end %>
            Welcome, <%= current_user.username %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete,
                            class: "dropdown-item",
                            data: { confirm: "Are you sure you want to sign out?" } %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<% end %>
