<%= form_with(model: loan_repayment) do |form| %>
  <% if loan_repayment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan_repayment.errors.count, "error") %> prohibited this loan_repayment from being saved:</h2>

      <ul>
        <% loan_repayment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <div class="mb-4">
   <% if @loan_repayment.loan_id.present? %>
      <div class="mb-3">
        <strong><%= form.label :member_id %></strong>
        <%= form.collection_select :member_id, Member.all, :id, :name, 
      { prompt: "-Select Member-", selected: @loan_repayment.loan_id }, 
      { class: "form-control", id: "member_select", disabled: true } %>
        <%= form.hidden_field :member_id %>
      </div>
    <% else %>
    <%= form.label :loan_id, style: "display: block" %>
    <%= form.collection_select :loan_id, Loan.all, :id, :member_name, { prompt:"-Select loan-" }, class: "form-control" %>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, class:"form-control" %>
  </div>

  <div>
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>
