<div class="row mb-4">
  <!-- Total Loans Card -->
  <div class="col-md-4">
    <div class="card border-success shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-success">Total Loans Disbursed</h5>
        <p class="card-text h4">
          <%= number_to_currency(@total_loans, unit: "Ksh ") %>
        </p>
      </div>
    </div>
  </div>

   <!-- Total Loans Repaid -->
  <div class="col-md-4">
    <div class="card border-primary shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-primary">Total Loans Repaid</h5>
        <p class="card-text h4">
          <%= number_to_currency(@total_repayments, unit: "Ksh ") %>
        </p>
      </div>
    </div>
  </div>

  <!-- Total Loan Balance -->
  <div class="col-md-4">
    <div class="card border-danger shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-danger">Total Loan Balance</h5>
        <p class="card-text h4">
          <%= number_to_currency(@loan_balance, unit: "Ksh ") %>
        </p>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
<table class="table">
  <thead class="table-primary">
  <tr>
    <th>Id</th>
    <th>Member</th>
    <th>Amount</th>
    <th>Payment period</th>
    <th>Repayment amount per month</th>
    <th>Balance</th> <!-- New column -->
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @loans.each do |loan| %>
    <tr>
      <td><%= loan.id %></td>
      <td><%= loan.member.name %></td>
      <td><%= number_to_currency(loan.amount, unit: "Ksh ") %></td>
      <td><%= loan.payment_period_months %> Months</td>
      <td><%= number_to_currency(loan.repayment_amount_per_month, unit: "Ksh ") %></td>
      <td><%= number_to_currency(loan.balance, unit: "Ksh ") %></td> <!-- Show balance -->
      <td>
        <%= render "loans/status_toggle", loan: loan %>
      </td>
      <td><%= link_to "Show", loan_path(loan), class: "btn btn-primary btn-sm" %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
 

  