<div class="container">
  <p>
    <strong>Member:</strong>
    <%= @loan.member.name %>
  </p>

  <p>
    <strong>Loan Amount:</strong>
    <%= number_to_currency(@loan.amount, unit: "Ksh ") %>
  </p>

  <p>
    <strong>Payment Period:</strong>
    <%= @loan.payment_period_months %> Months
  </p>

  <p>
    <strong>Repayment Amount per Month:</strong>
    <%= number_to_currency(@loan.repayment_amount_per_month, unit: "Ksh ") %>
  </p>

  <div>
    <% link_to "Back to Loans", loans_path, class: "btn btn-primary btn-sm" %>
    </div>
    <div class="mt-2">
    <% if @loan&.status %>
       <%= link_to "Edit", edit_loan_path(@loan), class: "btn btn-warning btn-sm" %>
    <% else %>
      <button class="btn btn-warning btn-sm" disabled title="Loan is closed">Edit</button>
    <% end %>
    </div>
    <div class="mt-2">
    <% if @loan&.status %>
      <%= button_to "Delete", @loan,
        method: :delete,
        data: { confirm: "Delete this loan?" },
        class: "btn btn-danger btn-sm" %>
    <% else %>
      <button class="btn btn-danger btn-sm" disabled title="Loan is closed">Delete</button>
    <% end %>
  </div>

  <hr>

  <h4>Loan Repayments</h4>
  <% if @loan.loan_repayments.any? %>
    <table class="table table-striped mt-2">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @loan.loan_repayments.each do |repayment| %>
          <tr>
            <td><%= repayment.id %></td>
            <td><%= number_to_currency(repayment.amount, unit: "Ksh ") %></td>
            <td><%= repayment.created_at.strftime("%d-%b-%Y") %></td>
            <td>
              <% if repayment.loan&.status %>
               <%= link_to "Edit", edit_loan_repayment_path(repayment), class: "btn btn-warning btn-sm" %>
              <% else %>
               <button class="btn btn-warning btn-sm" disabled title="Loan is closed">Edit</button>
              <% end %>
              </td>
              <td>
              <% if repayment.loan&.status %>              
               <%= button_to "Delete", repayment,
                  method: :delete,
                  data: { confirm: "Delete this repayment?" },
                  class: "btn btn-danger btn-sm" %>
              <% else %>
                <button class="btn btn-danger btn-sm" disabled title="Loan is closed">Delete</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No repayments have been made for this loan yet.</p>
  <% end %>

  <div class="mt-2">
    <% if @loan.balance > 0 %>
  <%= link_to "New Loan Repayment",
      new_loan_repayment_path(member_id: @loan.member_id),
      class: "btn btn-success btn-sm" %>
<% else %>
  <button class="btn btn-secondary btn-sm" disabled>
    Loan Fully Paid
  </button>
<% end %>
  </div>
</div>