<div class="container">
  
<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Name</th>      
      <th>Interior Area</th>
      <th>Exterior Area:</th>
      <th>Labour Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= form_with url: toggle_status_site_path(site), method: :patch, local: true do %>
           <%= hidden_field_tag :status, false %>
             <%= check_box_tag :status, true, site.status, onchange: 'this.form.submit();' %>
           <% end %>
        </td>
        <td><%= site.name %></td>        
        <td><%= site.interior_area %></td>
        <td><%= site.exterior_area %></td>
        <td><%= number_to_currency(site.labour_cost, unit:"Ksh ") %></td>
        <td><%= link_to "Show", site_path(site), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

 