<% content_for :title, "Site Details" %>

<div class="container">

<div class="card mb-3" style="max-width: 400px;">
  <div class="card-header bg-primary text-white">
    <%= @site.name %>
  </div>

  <div class="card-body">
    <p class="card-text">
      <strong>Interior Area:</strong> <%= @site.interior_area %> sq. meters<br>
      <strong>Exterior Area:</strong> <%= @site.exterior_area %> sq. meters<br>
      <strong>Labour Cost:</strong ><%= number_to_currency(@site.labour_cost, unit:"Ksh ") %> <br> 
      <strong>Status:</strong> <%= @site.status %>
    </p>
  </div>
</div>
 
<div>
  <%= link_to "Edit", edit_site_path(@site), class:"btn btn-warning btn-sm" %> |
  <%= link_to "Back", sites_path, class:"btn btn-primary btn-sm" %> |
  <%= link_to "Delete", @site, method: :delete, data: { confirm: "Are you sure you want to delete this site?" }, class: "btn btn-danger btn-sm" %>
</div><br/>

<div>
   <strong><i>Created By:</i></strong>
   <%= @site.user.username unless @site.user.blank? %> 
</div>
</div>