<% content_for :title, "Member's Statement" %>

<div class="container">
  <h2><%= @member.name %> - <%= @member.membership_number %></h2>

  <div class="row mb-4">
    <!-- Total Savings Card -->
    <div class="col-md-3">
      <div class="card border-success shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">Total Savings</h5>
          <p class="card-text h4">
            <%= number_to_currency(@total_savings || 0, unit: "Ksh ") %>
          </p>
        </div>
      </div>
    </div>

    <!-- Available for Loans Card -->
    <div class="col-md-3">
      <div class="card border-primary shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">Available for Loans</h5>
          <p class="card-text h4">
            <%= number_to_currency((@total_savings - Member::LOCKED_SAVINGS_RATIO * (@total_savings || 0)), unit: "Ksh ") %>
          </p>
        </div>
      </div>
    </div>

    <!-- Loans Balance  -->
    <div class="col-md-2">
      <div class="card border-primary shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">Loan Balance</h5>
          <p class="card-text h4">
            <td><%= number_to_currency(@loan_balance || 0, unit:"Ksh ") %></td>
          </p>
        </div>
      </div>
    </div>

    <!-- Locked Savings Card -->
    <div class="col-md-2">
      <div class="card border-warning shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-warning">Locked Savings</h5>
          <p class="card-text h4">
            <%= number_to_currency(Member::LOCKED_SAVINGS_RATIO * (@total_savings || 0), unit: "Ksh ") %>
          </p>
        </div>
      </div>
    </div>
  </div>

<% if @transactions.any? %>
<table class="table">
  <tr class="table-primary">
    <th>Date</th>
    <th>Type</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Balance</th>
  </tr>

  <% balance = 0 %>
  <% @transactions.each do |t| %>
    <% balance += t[:amount] %>
    <tr>
      <td><%= t[:date].strftime("%d %b %Y") %></td>
      
      <td>
        <% if t[:type] == "Saving" %>
          <%= link_to "#{t[:deposit_type]} #{t[:type]}",
            saving_path(t[:record]),
            class: case t[:deposit_type]
              when "random" then "text-dark"
              else "text-success"
            end %>
        <% elsif t[:type] == "Loan" %>
          <%= link_to t[:type], loan_path(t[:record]), class: "text-danger" %>
        <% elsif t[:type] == "Repayment" %>
          <%= link_to t[:type], loan_repayment_path(t[:record]), class: "text-primary" %>
        <% end %>
      </td>

      <% if t[:amount] < 0 %>
        <!-- Debit -->
        <td><%= number_to_currency(t[:amount].abs, unit: "Ksh ") %></td>
        <td>-</td>
      <% else %>
        <!-- Credit -->
        <td>-</td>
        <td><%= number_to_currency(t[:amount], unit: "Ksh ") %></td>
      <% end %>

      <td><%= number_to_currency(balance, unit: "Ksh ") %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p class="text-danger"><i>No statements available for <%= @member.name %>.</i></p>
<% end %>

<div class="mt-3">
  <%= link_to "Back to Sacco Account", savings_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "New Saving", new_saving_path(member_id: @member.id), class:"btn btn-success btn-sm" %>

  <% if @member.loans.where(status: true).exists? %>
    <button class="btn btn-secondary btn-sm" disabled>
      Active Loan Exists
    </button>
  <% else %>
    <%= link_to "New loan", new_loan_path(member_id: @member.id), class: "btn btn-success btn-sm" %>
  <% end %>

  <% if @member.loans.where(status: true).exists? %>
  <%= link_to "New Loan Repayment",
      new_loan_repayment_path(member_id: @member.id),
      class: "btn btn-success btn-sm" %>
  <% else %>
    <button class="btn btn-secondary btn-sm" disabled>
      No Active Loan
    </button>
  <% end %>
</div>
</div>

